.main{
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%; 
    background-color: #0079BF;
}

.board{
    display: inline;
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 22%;
    height: max-content;
    border-radius: 10px;
    background-color: #EBECF0;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    padding-top: 15px;
}

/* .smallBoard{
    display: flex;
    flex-direction: column;
} */

.task{
    text-align: left;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto; 
    margin-top: 20px;
    cursor: pointer;
}

.task a{
    text-decoration: none;
    color: #000000;
}

