/* *,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class] {
  padding: 0;
} */


html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
